#canvasBacking{
  z-index: -1;
  padding-left: 0;
  padding-right: 0;
  margin-left: 25rem;
  display: block;
  background-color: transparent;
}
canvas{
  z-index: 1;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  display: block;
  background-color: black;
}
body{
  background-image: url('/client/img/darkBack.png');
}
#title{
  background-repeat: no-repeat;
  width: 750px;
  height: 125px;
  background-image: url('/client/img/title.png');
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@font-face {
  font-family: vecna;
  src: url('../fonts/Vecna.otf');
}




/* Others */


/* Style the tab */
div.tab {
    margin-top: 10rem;
    margin-left: 40rem;
    z-index: 10;
    overflow: hidden;
    border: 3px solid #a55108;
    border-radius: 4px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: vecna; helvetica;
    width: 550px;
    position: absolute;
}

hr {
  border-color: #a55108;
}
/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 30px;
    text-align: center;
    font-family: vecna; helvetica;
    margin-left: 10px;
    margin-right: 50px;
    color: #a55108;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #a55108;
    color: black;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #a55108;
    color: black !important;
}

/* Style the tab content */
.tabcontent {
    font-family: vecna;
    margin-top: 14.25rem;
    margin-left: 40rem;
    z-index: 10;
    display: none;
    border: 3px solid #a55108;
    text-align: center !important;
    border-top: none;
    width: 550px;
    position: absolute;
    background-image: url(../../client/img/leather.jpg);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

#shopOverlay {
  display: none;
}

#spellList li {
  margin-top: 10px;
  list-style: none;
  width: auto;
  font-size: 18px;
  display: inline-block;
  transition: all 0.3s ease;
  padding: 10px 10px 10px 10px;
  cursor: pointer;

}
#spellList li:hover {
  background-color: black;
  color: #a55108;
}
.title {
  font-size: 24px !important;
  margin-right: 60px;
  cursor: pointer;
}
.costs {
  margin-left: 60px;
  cursor: pointer;

}


.emptyInventoryItem {
  width: 64px;
  height: 64px;
  background-image: url(../img/leather.jpg);
  border: 2px solid black;
  list-style: none;
  display: inline-block;
  margin: 5px 5px 5px 5px;
  margin-right: 30px;

}
#menuInvetoryList {


}
#menuInvetoryList li {
  display: inline-block;
  margin: 20px 20px 20px 20px;
  transition: all 0.3s ease;
}
#menuInvetoryList  li img {
  border: 2px solid black;
  transition: all 0.3s ease;
}
#menuInvetoryList  li:hover img {
  border: 2px solid white;
}
#menuInvetoryList li p {
  display: block;
  color: white;
  margin-top: 20px;
}
#menuInventory {
  display: none;
}

#menuMultiplayer {
  display: none;
}
#menuClose {

  width: 75px;
  height: 20px;
  color: white;
  font-family: vecna;
  background-color: black;
  border: 2px solid black;
  transition: all 0.3s ease;
  cursor: pointer;
}
#menuClose:hover {
  border: 2px solid white;
}

#menuOverlay{
  width: 300px;
  height: 990px;
  position: absolute;
  left: 26rem;
  top: 9.75rem;
  border-radius: 4px;
  border: 5px solid #a55108;
  text-align: center;
  background-image: url(../img/leather.jpg);
  display: none;
  z-index: 0;
  font-family: vecna;
}
.menuOptions {
  margin-left: -50px;
}
.menuOptions li {
  display: inline-block;
  margin: 20px 20px 20px 20px;
  transition: all 0.3s ease;
}
.menuOptions li img {
  border: 2px solid black;
  transition: all 0.3s ease;
}
.menuOptions li:hover img {
  border: 2px solid white;
}
.menuOptions li p {
  display: block;
  color: white;
  margin-top: 20px;
}
#menuButton {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 26rem;
  top: 10rem;
  z-index: 2;
  background-color: black;
  border-radius: 6px;
  display: none;
  background-image: url(../img/leather.jpg);
}
.menuButtonSpan {
  margin-left: 4px;
}
#menuHost {
  display: none;
}
#menuHostId {
  color: red;
  font-size: 20px;
}

#menuJoin {
  display: none;
  font-family: vecna;
}
#menuJoinButton {
  width: 75px;
  height: 30px;
  text-align: center;
  transition: all 0.3s ease;
  border-radius: 4px;
  border: 2px solid black;
  margin: auto;
  margin-top: 20px;
}

#menuJoinButton:hover {
  background-image: none;
  background-color: black;
  color: white;
}
/* Login Overlay */

#loginOverlay {
  border: 3px solid #a55108;
  border-radius: 4px;
  position: absolute;
  margin-left: 37rem;
  margin-top: 10rem;
  width: 600px;
  z-index: 2;
  height: auto;
  padding: 10px 10px 10px 10px;
  background-image: url(../img/leather.jpg);
  color: white !important;
  font-size: 16px;
  text-align: center;
  font-family: vecna;

}

#loginSubmit {
  float: right;

  width: 170px;
  height: 30px;
  text-decoration: none;
  background-color: #0baa19;
  border-radius: 4px;
  border: 1px solid #079115;
  transition: all 0.3s ease;
  text-align: center;
  color: white;
  position: relative;
}
#loginSubmit p {
  margin-top: 5px;
}

#loginSubmit:hover {
  background-color: white;
  color: black;
  border-color: black;
}

#registerSwitchButton {
  float: left;

  width: 170px;
  height: 30px;
  text-decoration: none;
  background-color: #e01f11;
  border-radius: 4px;
  transition: all 0.3s ease;
  text-align: center;
  position: relative;
  color: white;
}
#registerSwitchButton:hover {
  background-color: white;
  color: black;
}
#registerSwitchButton p {
  margin-top: 5px;
}


/* World Switcher Overlay */

#worldSwitchOverlay {
  display: none;
  width: 400px;
  height: 300px;
  border-radius: 4px;
  border: 2px solid #a55108;
  position: absolute;
  margin-left: 60rem;
  margin-top: 10rem;
  text-align: center;
  z-index: 2;
  font-family: vecna;
  background-image: url(../img/leather.jpg);
}
#lobbyRefresh {
  width: 100px;
  height: 25px;
  border-radius: 4px;
  background-color: #e01f11;
  cursor: pointer;
  float: right;

}
#lobbyList {
  height: 155px;
  overflow-y: scroll;
  width: auto;
}
#lobbyList li {
  text-decoration: none;
  list-style: none;
  transition: all 0.3s ease;
  cursor: pointer;
  height: 20px;
  width: auto;
  padding: 5px 5px 5px 5px;
  display: inline-block;
}
#lobbyList li:hover {
  background-color: black;
  color: white;

}
#lobbyList li span {
  display: inline-block
}
.world_id {
  float: left;
}
.world_amount {
  float: right;

}
#lobbyRefresh p {
  margin-top: 3px;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

}

/* Hide default HTML checkbox */
.switch input {display:none;  color: #a55108;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #a55108;
}

input:focus + .slider {
  box-shadow: 0 0 1px #a55108;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;

}

.slider.round:before {
  border-radius: 50%;
}
